<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

<bean id="hdfc" class="com.mondee.Account"></bean>

<bean id="auth" class="com.mondee.AuthenticationAspect"></bean>

<bean id="logobj" class="com.mondee.LoggingAspect"></bean>

<bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">

<property name="proxyInterfaces" value="com.mondee.HdfcBank"></property>

<property name="InterceptorNames">
		<list>
			<value>auth</value>
			<value>logobj</value>
		</list>
</property>
<property name="target">

	<ref bean="hdfc"/>

</property>
</bean>

</beans>